html{
    font-size: 62.5%;
    box-sizing: border-box;/* hack para box model */
}
*, *:before, *:after {
  box-sizing: inherit;

}

body{
    font-size: 16px;/* 1rem = 10px */ 
    font-family: "Montserrat", sans-serif;   
}

.container-fluid, .col-12{
    padding: 0;
}

header {
    background: #ffffff;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-items: center;
    margin: 15px;
}

.logo {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 8rem;
    padding: 0 15px;
}

.boton{
    display: flex;
    flex-direction: row;
    padding: 0;
    border: none;
}

.btn-ini{
    transition: all 0.3s ease;
    margin-right: 20px;
    font-size: 2.5rem;
    font-weight: 600;
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    width: 205px;
    height: 57px;
    cursor: pointer;
}

.btn-ini:hover{
    background-color: #686868;
    box-shadow: 0 0.2rem 0.3rem #424242;
}

.btn-ini:active{
    background-color: #E6E6E6;
    color: #000000;
}

.btn-reg{
    transition: all 0.3s ease;
    font-size: 3rem;
    font-weight: 600;
    background-color: #E6E6E6;
    border-radius: 5px;
    border: none;
    width: 205px;
    height: 57px;
    cursor: pointer;
}

.btn-reg:hover{
    background-color: #7b7b7b;
    color: #ffffff;
    box-shadow: 0 0.2rem 0.3rem #8d8d8d;
}

.btn-reg:active{
    background-color: #000000;
    color: #ffffff;
}



.img-fon{
    position: absolute;
    object-fit: contain; /* o contain */
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

.hero{
    padding-top: 75px;
}

.hero-Titulo{
    position: relative;
    text-align: center;
    padding: 0 223px;
}

.hero-Titulo h1{
    font-size: 14rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-shadow: 4px 0 4.5px #000000;
    padding-top: 65px;
}

.hero-btn{
    transition: all 0.3s ease;
    font-size: 40px;
    font-weight: 700;
    background-color: #000000b2;
    color: #ffffff;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    width: 290px;
    height: 90px;
    cursor: pointer;
}

.hero-btn:hover{
    background-color: #686868b2;
    box-shadow: 0 0.2rem 0.3rem #424242;
}

.hero-btn:active{
    background-color: #E6E6E6;
    color: #000000;
}

.categorias{
    position: relative;
    justify-content: space-around;
    margin-top: 78px;
}

.categorias h2{
    text-align: center;
    color: #ffff;
    font-size: 90px;
    font-weight: 700;
    text-shadow: 4px 0 4.5px #000000;
    margin-top: 145px;
}


.card{
    width: 700px;
    height: 489px;
    border-style: none;
    padding: 0;
    margin-top: 65px;
}
 .card img{
    height: 341px;
    width: 700px;
    border-radius: 5px;
 }

 .card h3{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #000000;
 }

 .card p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
 }

 .comidas p{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
 }
 
 .restaurantes{
    background-color: #f7f7f7;
    margin-top: 35px;
    margin-left: 5px;
 }

 .restaurantes h2{
    font-size: 48px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 25px;
 }

 .restaurantes p{
    font-size: 24px;
    font-weight: 300;
    margin-left: 25px;
 }

 .menu{
    margin-top: 50px;
    margin-left: 55px;
    justify-content: center;
 }

  .restaurantes .menu img{
    height: 200px;
    width: 200px;
    border-radius: 100px;

 }

 .restaurantes .btn-3{
    margin: 60px 0;
    text-align: center;
    
 }

 .btn-exp{
    transition: all 0.3s ease;
    font-size: 3rem;
    font-weight: 600;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.btn-exp:hover{
    background-color: #686868;
    box-shadow: 0 0.2rem 0.3rem #424242;
}

.btn-exp:active{
    background-color: #E6E6E6;
    color: #000000;
} 


.footer {
    background: #333;
    background-size: 100%;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer a{
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.footer a:active{
    color: #686868;
}


/* Pantallas medianas*/
@media (min-width: 768px) and (max-width: 1024px){
        .container-fluid{
        justify-content: center;
        align-items: center;
    }
    .logo{
        text-align: center;
        font-size: 5rem;
    }
    .boton{
        margin-top: 5px;
        justify-content: center;
    }

    .btn-ini{
        width: 205px;
        height: 47px;
    }

    .btn-reg{
        width: 205px;
        height: 47px;
    }
    .hero{
        padding-top: 25px;
    }
    .hero-Titulo{
        padding-left: 5px;
        padding-top: 5px;
        padding-right: 5px;
       
    }

    .hero-Titulo h1{
        padding-top: 0;
        font-size: 7.5rem;
    }
    .categorias{
        margin: 50px 0;
        justify-content: center;
        align-items: center;
    }
    .categorias h2{
        font-size: 6rem;
        margin-top: 15px;
    }
}

/* pantasllas pequeñas */
@media (min-width: 320px) and (max-width: 777px){
    .container-fluid{
        justify-content: center;
        align-items: center;
    }
    .logo{
        text-align: center;
        font-size: 3rem;
    }
    .boton{
        margin-top: 5px;
        justify-content: center;
    }

    .btn-ini{
        font-size: 2rem;
        width: 160px;
        height: 47px;
    }

    .btn-reg{
        font-size: 2rem;
        width: 160px;
        height: 47px;
    }
    .img-fon img{
        padding: 0;
    }
    .hero{
        padding-top: 5px;
    }
    .hero-Titulo{
        margin-top: 2rem;
        padding-left: 5px;
        padding-top: 5PX;
        padding-right: 5px;
       
    }
    .hero-Titulo h1{
        font-size: 3rem;
        padding-top: 0;

    }
    .hero-btn{
        font-size: 2rem;
        font-weight: 700;
        margin-top: 20px;
        border-radius: 5px;
        border: none;
        width: 190px;
        height: 45px;
    }
    .categorias{
        margin-top: 15px;
    }
    .categorias h2{
        font-size: 3rem;
        margin-top: 8px;
    }
    .card{
        width: 300px;
        height: 289px;
        border-style: none;
        padding: 0;
        margin-top: 65px;
    }
    .card img{
        height: 241px;
        width: 300px;
        border-radius: 5px;
    }
    .card h3{
        font-size: 2rem;
        font-weight: 600;
    }
    .card p{
        text-align: justify;
        font-size: 1.5rem;
    }
    .comidas p{
    font-size: 1.5rem;
    text-align: center;
    }
    .comidas{
        font-size: .8rem;
        margin-top: 150px;
    }
    .restaurantes h2{
        text-align: center;
        font-size: 3rem;
        margin-top: 30px;
    }

    .restaurantes p{
        text-align: center;
        font-size: 1.5rem;
        margin-left: 15px;
    }

    .menu{
        margin-left: 0;
        text-align: center;
    }
    .btn-exp{
        font-size: 1.5rem;
    }
    .restaurantes .menu img{
    height: 150px;
    width: 150px;
    padding: 5px 0;
    border-radius: 100px;
    
 }
}


